body {
  margin: 0px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 30px;
  justify-content: space-between;
  border-radius: 6px;
  background-color: rgb(219, 209, 209);
}
